*.log
/MinecraftAgente/src/__pycache__
MinecraftAgente/resultados/metricas_20250919_182330.csv
/MinecraftAgente/src/venv
/minerlagente/agente segunda entrega/logs/*
.env/
.vscode/
.env_info
.env_vars
__pycache__/
*.pyc
2_entrega/README_MALMO.md
2_entrega/malmo/carlos/agente madera/modelo_agente_madera_plano.pkl
2_entrega/malmo/carlos/agente madera/modelo_agente_madera.pkl

3_entrega/hierro/resultados/log_*
*.pkl
*.csv
